body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #373737;
}

div {
    padding: 50px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navigation {
    padding: 10px 20px;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #c43235;
    display: flex;
    z-index: 100;
    opacity: 0.6;
}

.navigation:hover {
    opacity: 1;
    transition: opacity .5s linear;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#navbar a:link {
    color: white;
    text-decoration: none;
}

#navbar a:visited {
    color: white;
}

#navbar a:hover {
    color: lightgrey;
    text-decoration: underline;
}

#logo {
    width: 50px;
    padding: 5px 5px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    border: 5px solid gray;
}

#statistics {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5d0ce634311225.56cc3e1db55b0.gif");
}

#statistics ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#about_us {
    background-image: url("https://i.gifer.com/2vYH.gif");
}

#goals {
    background-image: url("https://i.gifer.com/GI1.gif");
}

#goals ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#goals ul img {
    border-radius: 50%;
    border: 5px solid #c43235;
    width: 20%;
    height: 20%;
}

.footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left
}

.footer ul {
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer a:visited {
    color: white;
}

.footer a:hover {
    color: lightgrey;
    text-decoration: underline;
}