body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #373737;
}

div {
    padding: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navigation {
    padding: 5px 10px;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #c43235;
    display: flex;
    z-index: 100;
    opacity: 0.95;
    justify-content: flex-end;
    justify-content: space-between;
}

.navigation:hover {
    opacity: 1;
    transition: opacity .5s linear;
}

#navbar {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    padding-left: 20%;
}

#navbar a:link {
    color: white;
    text-decoration: none;
    display: flex;
    padding-right: 40px;
}

#navbar a:visited {
    color: white;
}

#navbar a:hover {
    color: lightgrey;
    text-decoration: underline;
}

#logo {
    width: 30px;
    padding: 3px 3px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    border: 2px solid gray;
    align-content: flex-start;
}

#title {
    color: red;
    background-image: url("https://theultralinx.com/.image/t_share/MTM3OTE1NzAxMDE2MzQwMzMx/mti5mzeyndeymdi4ndc0njqygif.gif")
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border: 1px solid white;
    background-color: #737984;
    width: 50%;
    height: 50%;
}

td { 
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.footer {
    margin: 0;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    text-align: left
}

.footer ul ul {
    list-style-type: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer a:visited {
    color: white;
}

.footer a:hover {
    color: lightgrey;
    text-decoration: underline;
}

#footer_contents {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
#footer_contents li p img{
    height: 20px;
    width: 20px;
}

#footer_contents li ul li a img{
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 25px;
    padding: 10px;
}

#footer_contents li ul{
    display: flex;
    flex-direction: row-reverse;
}
.mobile_navigation {
    display: none;
}
@media only screen and (min-width: 999px) {
    #quiz_form{
        font-size: 20px;
    }
}

@media only screen and (max-width: 998px) and (min-width: 400px) {
    #footer_contents {
        font-size: 18px;

    }
    #quiz_form{
        font-size: 16px;
    }
    .navigation {
        display: none;
    }
    .mobile_navigation {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        position: sticky;
        top: 0;
        background-color: #c43235;
        z-index: 100;
    }
    summary {
        text-align: left;
    }
    #mobile_navbar_icon {
        height: 20px;
        width: 20px;
        padding: 2px;
        display: flex;
    }
    #mobile_navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: red;
        font-size: 15px;
        padding-left: 20%;
    }
    #mobile_navbar a {
        color: white;
        text-decoration: none;
        display: flex;
        padding-right: 40px;
    }
    #mobile_navbar a:visited {
        color: white;
    }
    #mobile_navbar a:hover {
        color: lightgrey;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 399px) {
/* For Phone: */
    #footer_contents {
        font-size: 12px;

    }
    #quiz_form{
        font-size: 12px;
    }
    .navigation {
        display: none;
    }
    .mobile_navigation {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        position: sticky;
        top: 0;
        background-color: #c43235;
        z-index: 100;
    }
    summary {
        text-align: left;
    }
    #mobile_navbar_icon {
        height: 20px;
        width: 20px;
        padding: 2px;
        display: flex;
    }
    #mobile_navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: red;
        font-size: 15px;
        padding-left: 20%;
    }
    #mobile_navbar a {
        color: white;
        text-decoration: none;
        display: flex;
        padding-right: 40px;
    }
    #mobile_navbar a:visited {
        color: white;
    }
    #mobile_navbar a:hover {
        color: lightgrey;
        text-decoration: underline;
    }
}
